/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/lato-v17-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Lato Light'), local('Lato-Light'),
         url('./fonts/lato-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lato-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lato-v17-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lato-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lato-v17-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('./fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('./fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
         url('./fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}


body p, body a, body h1, body li{
    font-family: Lato;
}

body {
    background-color: #f4f9e2;
}


/* first block of the page */

.first_part {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}





.info_and_form {
    display: flex;
}

.blue_form {
    width: 56vw; /* 807px; */
    height: 37.5vw; /* 540px; */
    transform: rotate(-60deg);
    position: absolute;
    left: 55vw; /*800px*/
    background-color: #EDFDFF;
    border-radius: 55vw; /* 312.159px; */
}

.white_block {
    height: auto;
    width: 22.4vw; /* 323px; */
    background-color: white;
    margin-left: 31.9vw; /* 460px; */
    margin-top: 12.9vw;
}

.nav_bar {
    height: 4.8vw; /*70px; */
    display: flex;
    align-items: center;
}

.logo {
    color:#62D0DF;
    font-size: 1.6vw; /*24px; */
    font-weight: 700;
    margin-left: 12.4vw; /*179px; */
}

.nav_bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 25vw; /* 360px; */
    margin-top: 0.48vw; /* 7px; */
    height: 1.38vw; /* 20px; */
    width: 17.3vw; /* 250px; */
}

.nav_bar ul a {
    color: #22356f;
    font-weight: 400;
    font-size: 0.97vw; /* 14px; */
    text-decoration: none;
}

.nav_bar ul a:hover {
    border-bottom: 0.2vw solid #22356f;
}

@keyframes vibrate {
    from {
        width: 10.8vw;
        height: 3.8vw;
    }

    to {
        width: 10.4vw;
        height: 3.4vw;
    }
}

.nav_bar input {
    margin-left: 17.3vw; /* 250px; */
    margin-top: 1.7vw; /* 25px; */
    z-index: 2;
    width: 10.4vw; /* 150px; */
    height: 3.4vw; /* 50px; */
    background-color: #62D0DF;
    border-radius: 3.4vw; /* 50px; */
    border: none;
    color: white;
    font-size: 0.97vw; /* 14px; */
    font-weight: 700;
    
    animation-name: vibrate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.nav_bar input:hover {
    background-color: #80e0ed;
    transition: 0.5s;
}

.main_info {
    width: 33vw; /* 480px; */
    margin-left: 12.4vw; /* 179px; */
    margin-top: 12.9vw; /* 187px; */
    margin-bottom: 5.3vw; /* 77px; */
}

@keyframes appear {
    100% {
        margin-left: 0px;
        font-size: 1.6vw;
    }
}

#logo2 {
    margin-left: -999px;
    margin-bottom: 2.7vw; /* 40px; */

    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.heading {
    font-size: 3.3vw; /* 48px; */
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #22356F;
    font-weight: 800;
    line-height: 4.1vw; /* 60px; */
}

.text {
    font-size: 1.6vw; /* 24px; */
    line-height: 2.9vw; /* 42px; */
    color: #22356F;
    margin-top: 3.8vw; /* 55px; */
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 4.3vw; /* 63px; */
}

.buttons input {
    background-color: #F9B640;
    width: 10.4vw; /* 150px; */
    height: 3.4vw; /* 50px; */
    color: white;
    font-weight: 700;
    font-size: 1.1vw; /* 16px */
    border: none;
    letter-spacing: 2px;
}

.first_part .info_and_form input:hover {
    box-shadow: 0.48vw 0.27vw 0.13vw 0px #b0adba9e;
    transition: 0.5s;
}

.buttons a {
    color: #F9B640;
    font-weight: 700;
    margin-left: 2.6vw; /*38px; */
    font-size: 1.1vw; /* 16px; */
    letter-spacing: 2px;
    text-decoration: none;
}

.buttons a:hover {
    letter-spacing: 0.2vw;
    transition: 1s;
}






/* second block of the page (Why Thrive?) */

.second_part {
    display: flex;
}




.blue_block {
    background-color: #62D0DF;
    width: 63.5vw; /* 915px; */
}

.blue_block p, .blue_block h1 {
    color: white;
}

.blue_block p {
    display: inline;
    line-height: 2.4vw /* 35px; */
}

.text_block {
    width: 38.5vw; /* 555px; */
    margin-left: 12.3vw; /* 178px; */
    margin-top: 10.6vw; /* 153px; */
}

.text2 {
    font-weight: 700;
    font-size: 1.6vw; /* 24px; */
}

.text3 {
    font-weight: 300;
    font-size: 1.38vw; /* 20px; */
}

.heading2 {
    font-size: 2.5vw; /* 36px; */
    font-weight: 700;
    margin-bottom: 5.2vw; /* 75px; */
}

.second_part img {
    width: 36.4vw; /* 525px; */
}





/*third block of the site */

.third_part {
    display: flex;
}

.third_part h1 {
    font-size: 1.1vw; /* 16px; */
    color: #22356F;
    margin-top: 10.8vw; /* 156px; */
    margin-left: 7.3vw; /* 106px; */
}

.third_part p {
    font-size: 1.6vw; /* 24px; */
    width: 41vw; /* 592px; */
    height: 14.5vw; /* 210px; */
    color: #22356F;
    margin-left: 15.6vw; /* 225px; */
    margin-top: 10.4vw; /* 150px; */
    line-height: 2.3vw; /* 34px; */
    font-weight: 700;
}




/* fourth block of the site (We can help you with) */


.fourth_part p, .fifth_part p {
    color: #22356F;
    opacity: 0.5;
    font-size: 1.1vw; /* 16px */
    margin: 4.8vw 0px 1.7vw; /* 75px, 0px, 25px; */
}

.fourth_part p {
    text-align: center;
}

.sections {
    display: flex;
    width: 100%;
    margin-bottom: 8.3vw; /* 120px; */
}

.sections div {
    display: flex;
    justify-content: center;
}

.sections .colored_block {
    width: 25vw; /* 360px; */
    height: 25vw; /*360px */
}

.sections .colored_block:hover {
    margin-top: -1.38vw;
    transition: 1s;
}

.sections .block {
    width: 70%;
    height: 70%;
    margin-top: 5vw; /* 72px; */
    border-top: 0.138vw solid white;
}

.sections a {
    color: white;
    font-size: 2.2vw; /* 32px; */
    line-height: 2.3vw; /* 34px; */
    font-weight: 700;
    margin-top: 1.59vw; /* 23px; */
    text-decoration: none;
    width: 100%;
}

.sections a::before {
    color: #E9B730;
    content: "●";
    padding-right: 1vw; /* 15px; */
}





/* fifth block (six sections) */

.fifth_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth_part p {
    display: none;
    cursor: pointer;
}

.fifth_part .sections {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
}

.fifth_part .sections .colored_block {
    width: 33.3vw;
    height: 33.3vw;
}

.fifth_part .sections .block {
    margin-top: 6.6vw;
}





@media only screen and (max-width: 1440px) {

.blue_form {
    width: 807px;
    height: 540px; 
    left: 55vw;
    border-radius: 312.159px; 
}

.nav_bar {
    height: 70px; 
}

.logo {
    font-size: 24px; 
    margin-left: 179px; 
}

.nav_bar ul {
    width: 250px;
    height: 20px;
    margin-left: 25vw;
    margin-top: 7px; 
}

.nav_bar ul a {
    font-size: 14px; 
}

.nav_bar ul a:hover {
    border-bottom: 3px solid #22356f;
}

@keyframes vibrate {
    from {
        width: 50px;
        height: 60px;
    }

    to {
        width: 150px;
        height: 50px;
    }
}

.nav_bar input {
    margin-left: 200px;
    margin-top: 25px; 
    width: 150px; 
    height: 50px; 
    border-radius: 50px; 
    font-size: 14px; 
}

.main_info {
    width: 480px;
    margin-left: 179px; 
    margin-top: 187px; 
    margin-bottom: 77px; 
}

@keyframes appear {
    100% {
        margin-left: 0px;
        font-size: 24px;
    }
}

#logo2 {
    margin-bottom: 40px; 
}

.heading {
    font-size:  48px; 
    line-height: 60px; 
}

.text {
    font-size: 24px;
    line-height: 42px;
    margin-top: 55px; 
}

.buttons {
    margin-top: 63px; 
}

.buttons input {
    width: 150px;
    height: 50px; 
    font-size: 16px;
}

.first_part .info_and_form input:hover {
    box-shadow: 7px 4px 2px 0px #b0adba9e;
}

.buttons a {
    margin-left: 38px; 
    font-size: 16px; 
}

.buttons a:hover {
    letter-spacing: 3px;
}




.blue_block {
    width: 915px; 
    display: flex;
    align-items: center;
}

.blue_block p {
    line-height:  35px;
}

.text_block {
    width: 400px;
    margin-left: 178px; 
    margin-top: 0px;
}

.text2 {
    font-size: 24px;
}

.text3 {
    font-size: 20px;
}

.heading2 {
    font-size: 36px; 
    margin-bottom:  75px;
}

.second_part img {
    width: 525px; 
}



.third_part h1 {
    font-size:16px; 
    color: #22356F;
    margin-top: 156px; 
    margin-left: 106px; 
}

.third_part p {
    font-size: 24px; 
    width: 592px; 
    height: 210px; 
    color: #22356F;
    margin-left: 225px; 
    margin-top: 150px; 
    line-height:34px;
    font-weight: 700;
}




.fourth_part p {
    font-size: 16px;
    margin: 75px 0px 25px; 
}

.sections {
    margin-bottom: 120px; 
}

.sections .colored_block {
    height: 360px;
    width: 360px; 
}

.sections .colored_block:hover {
    margin-top: -20px;
}

.sections .block {
    margin-top: 72px; 
    border-top: 1px solid white;
}

.sections a {
    font-size: 32px; 
    line-height: 34px; 
    margin-top: 23px; 
}

.sections a::before {
    padding-right: 15px; 
}




.fifth_part p {
    font-size: 16px;
    margin-bottom: 30px;
}

.fifth_part .sections .colored_block {
    width: 480px;
    height: 480px;
}

.fifth_part .sections .block {
    margin-top: 96px;
}

.fifth_part .sections {
    margin-bottom: 0px;
}



}




@media only screen and (max-width: 1180px) {
    .logo {
        margin-left: 20px;
    }

    .main_info {
        margin-left: 20px;
    }

    .nav_bar input {
        display: none;
    }




    .second_part img {
        width: 65%;
    }

    .blue_block {
        width: 35%;
    }

    .text_block {
        width: 30vw;
        margin: 30px 20px;
    }

    .heading2 {
        margin-bottom: 30px;
    }




    .third_part {
        display: flex;
        flex-direction: column;
    }
    
    
    .third_part h1 {
        margin: 50px 25px;
        margin-left: 30px;
    }

    .third_part p {
        margin: 0px;
        margin-bottom: 50px;
        margin-left: 30px;
        width: 90%;
        height: auto;
    }




    .sections {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .sections div {
        height: 360px;
        height: auto;
    }
    
}





@media only screen and (max-width: 800px) {
    .blue_form, .white_block {
        display: none;
    }

    .main_info {
        margin-top: 80px;
        width: 90%;
    }

    #logo2 {
        display: none;
    }

    .nav_bar ul {
        margin-left: 30px;
        margin-top: 0px;
    }




    .second_part {
        display: block;
    }

    .second_part img {
        width: 100%;
    }

    .text_block {
        width: 90%;
    }

    .blue_block {
        position: absolute;
        width: 53%;
        left: 47%;
    }



    .sections .colored_block:hover {
       box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
       margin-top: 0px;
    }


    
    @keyframes vibrate1 {
        from {
            opacity: 0.5;
        }

        to {
            opacity: 1;
        }
    }

    .fifth_part p {
        display: block;
        animation-name: vibrate1;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    .fifth_part .sections {
        display:none;
    }


}




@media only screen and (max-width: 560px) {
    .blue_block {
        width: 100%;
        left: 0px;
        background-color: rgba(98, 208, 223, 0.7);
    }
}




@media only screen and (max-width: 500px) {

    .first_part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_bar {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 90%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .nav_bar ul {
        margin-top: 10px;
        margin-left: 0px;
    }

    .logo {
        margin-left: 0px;
    }

    .main_info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        width: 100%;
    }

    .heading, .text, .buttons {
        width: 90%;
    }

    .buttons {
        justify-content: center;
    }



    
    .second_part {
        display: block;
    }

    .blue_block {
        width: 100%;
        position: initial;
        background-color: rgba(98, 208, 223, 1);
        display: flex;
        justify-content: center;
    }

    .text_block {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }




    .third_part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .third_part h1 {
        margin: 50px 25px;
    }

    .third_part p {
        margin: 0px;
        margin-bottom: 50px;
        width: 80%;
        text-align: center;
    }



    .fifth_part .sections .colored_block {
        width: 96vw;
        height: 96vw;
    }
    

}





@media only screen and (max-width: 360px) {
    .nav_bar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        height: auto;
        width: auto;
    }

    .nav_bar ul li {
        margin-top: 10px;
    }

    .nav_bar ul a:hover {
        border-bottom: 0.8vw solid #22356f;
    }

    .nav_bar {
        height: auto;
    }

    .main_info {
        margin-top: 13.8vw;
        margin-bottom: 15vw;
    }

    .heading {
        font-size: 15vw;
        line-height: 18vw;
    }

    .text {
        font-size: 7vw;
        margin-top: 7vw;
        line-height: 13vw;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
    }

    .buttons input {
        width: 40vw;
        height: 15vw;
        font-size: 5vw;
    }

    .first_part .info_and_form input:hover {
        box-shadow: 1.9vw 1vw 0.5vw 0px #b0adba9e;
        transition: 0.5s;
    }

    .buttons a {
        margin-left: 0px;
        margin-top: 7vw;
        font-size: 5vw;
    }

    .buttons a:hover {
        letter-spacing: 1vw;
    }




    .blue_block p {
        display: inline;
        line-height: 9.7vw;
    }

    .text_block {
        margin-top: 8.3vw;
        margin-bottom: 8.3vw;
    }

    .text2 {
        font-weight: 700;
        font-size: 6.6vw;
    }
    
    .text3 {
        font-weight: 300;
        font-size: 5.5vw;
    }
    
    .heading2 {
        font-size: 10vw;
        font-weight: 700;
        margin-bottom: 8.3vw;
    }
    


    .third_part h1 {
        font-size: 4.4vw;
        color: #22356F;
        margin: 13.8vw 6.9vw;
    }
    
    .third_part p {
        font-size: 6.6vw;
        line-height: 9.4vw;
        margin-bottom: 13.8vw;
    }
    


    .sections .colored_block {
        height: 100vw;
    }
    
    .fourth_part p {
        font-size: 4.4vw;
        margin: 20.8vw 0px 6.9vw;
    }
    
    .sections {
        margin-bottom: 33vw;
    }

    .sections .block {
        margin-top: 20vw;
    }
    
    .sections a {
        font-size: 8.8vw;
        line-height: 9.4vw;
        margin-top: 6.3vw;
    }
    
    .sections a::before {
        padding-right: 4.1vw;
    }



    .fifth_part p {
        margin-bottom: 8.3vw;
        font-size: 4.4vw;
    }

    .fifth_part .sections .block {
        margin-top: 26.6vw;
    }

    .fifth_part .sections {
        margin-bottom: 0px;
    }

}





@media only screen and (max-width: 180px) {
    .logo {
        font-size: 13vw;
    }

    .nav_bar {
        margin-top: 7vw;
    }

    .nav_bar ul {
        margin-bottom: 5vw;
    }

    .nav_bar ul li {
        margin-top: 5.5vw;
    }

    .nav_bar ul a {
        font-size: 9vw;
    }

}